* {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  height: 10rem;
  min-width: fit-content;
  white-space: nowrap;
  flex-wrap: wrap;
}

header h1 {
  color: white;
  font-size: 3rem;
}

header ul {
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

header a {
  color: white;
  text-decoration: none;
}

header button {
  color: antiquewhite;
  background-color: #e9a89b;
  border-radius: 1rem;
  height: 4rem;
  width: 10rem;
}

@media (max-width: 834px) {
  header button {
    display: none;
  }
}

@media (max-width:400px) {
    header ul {
        overflow-x: scroll;
        width: 100%;
    }
}
